outputs/
slurm-*.out
slurm-*.err
*.pyc
__pycache__
multirun/
.vscode/settings.json
pyrightconfig.json
outputs_archive
evaluate/**/*.png
evaluate/**/*.pdf
evaluate/**/*.py
cache
viz
wandb
embeddings/

# ignore local mongo binaries
local/mongodb/
